<div class='mx-auto d-flex flex-column border m-2 container-fluid p-2'>
  <h4><%= link_to(post.title, user_post_path(@user, post), class: "") %></h4>
  <p class=''>
    <%= post.text %>.
  </p>
  <p class="align-self-end">Comments: <span><%= post.comments.count %>, Likes: <span><%= post.likes.count %></span></p>
</div>